<div class="offcanvas offcanvas-start" tabindex="-1" id="{{@companyid}}" aria-labelledby="Company details">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="{{@companyid}}">{{@company.name}}</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>
      {{@company.description}}
    </p>
    <p>
      <span class="fw-bold">Address:</span><br />
      {{{@company.niceAddress}}}
    </p>
    <p>
      <span class="fw-bold">VAT-number:</span>
      {{@company.vatnumber}}
    </p>
  </div>
</div>
